.user-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  // background-color: red;

  padding: 2rem 4rem;

  border-radius: 2.6rem;

  width: 40vw;
  margin: 0 auto;

  .user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .user-tests {
    display: flex;
    gap: 1rem;
    text-align: center;

    font-size: 1.6rem;
  }
}

.goto {
  height: fit-content;
  width: fit-content;
}
