.account-modal {
  width: 500px;

  padding: 2.5rem 2rem 0.8rem;
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.1);
}

.username-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .account-modal {
    margin: 2rem;
    width: fit-content;
  }
}
