.account-modal {
  width: 25vw;

  padding: 2.5rem 2rem 0.8rem;
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.1);
}

.username-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
