.header {
  width: 80vw;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name-container {
  display: flex;
  align-items: center;
  justify-content: space-around;

  cursor: pointer;
}
