.footer {
  width: 80vw;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .themes-select {
    font-size: medium;
    color: black;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
