.stats {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80vw;

  gap: 5rem;
}

.left-stats {
  padding: 1.2rem 0;
}

.right-stats {
  flex: 1;
}

.wpm-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.box-container {
  padding: 0.8rem 2rem;
}

.all-chars-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
  .wpm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
}
@media only screen and (max-width: 600px) {
  .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
}
